# Prediksi Berat Badan

**Import Library dan Dataset**

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [12]:
df = pd.read_excel("datasets/weight-height.xlsx")

In [13]:
df.head()

                 Gender,"Height","Weight"
0   Male,73.847017017515,241.893563180437
1  Male,68.7819040458903,162.310472521300
2    Male,74.1101053917849,212.7408555565
3  Male,71.7309784033377,220.042470303077
4  Male,69.8817958611153,206.349800623871

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender,"Height","Weight"  10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

**Data Preprocessing**
> Split kolom

In [15]:
df[['Gender','Height','Weight']] = df['Gender,"Height","Weight"'].str.split(',', 3, expand=True)
df

,"Gender,""Height"",""Weight""",Gender,Height,Weight
0,"Male,73.847017017515,241.893563180437",Male,73.847017017515,241.893563180437
1,"Male,68.7819040458903,162.310472521300",Male,68.7819040458903,162.310472521300
2,"Male,74.1101053917849,212.7408555565",Male,74.1101053917849,212.7408555565
3,"Male,71.7309784033377,220.042470303077",Male,71.7309784033377,220.042470303077
4,"Male,69.8817958611153,206.349800623871",Male,69.8817958611153,206.349800623871
...,...,...,...,...
9995,"Female,66.1726521477708,136.777454183235",Female,66.1726521477708,136.777454183235
9996,"Female,67.067154649054,170.867905890713",Female,67.067154649054,170.867905890713
9997,"Female,63.8679922137577,128.475318784122",Female,63.8679922137577,128.475318784122
9998,"Female,69.0342431307346,163.852461346571",Female,69.0342431307346,163.852461346571
9999,"Female,61.9442458795172,113.649102675312",Female,61.9442458795172,113.649102675312

In [16]:
df = df.drop(columns=['Gender,"Height","Weight"'])
df

      Gender            Height            Weight
0       Male   73.847017017515  241.893563180437
1       Male  68.7819040458903  162.310472521300
2       Male  74.1101053917849    212.7408555565
3       Male  71.7309784033377  220.042470303077
4       Male  69.8817958611153  206.349800623871
...      ...               ...               ...
9995  Female  66.1726521477708  136.777454183235
9996  Female   67.067154649054  170.867905890713
9997  Female  63.8679922137577  128.475318784122
9998  Female  69.0342431307346  163.852461346571
9999  Female  61.9442458795172  113.649102675312

[10000 rows x 3 columns]

In [18]:
df.describe()

       Gender           Height            Weight
count   10000            10000             10000
unique      2            10000             10000
top      Male  73.847017017515  241.893563180437
freq     5000                1                 1

In [19]:
df[['Height', 'Weight']] = df[['Height', 'Weight']].apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

**Scaling dan Labeling Atribut**

In [20]:
df = df.replace({'Gender': {'Male': 1, 'Female': 0}})

In [21]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

**Konversi ke Kg dan Cm**

In [22]:
df['Height'] = df['Height'] * 2.54
df['Weight'] = df['Weight'] * 0.453592
df

      Gender      Height      Weight
0          1  187.571423  109.720985
1          1  174.706036   73.622732
2          1  188.239668   96.497550
3          1  182.196685   99.809504
4          1  177.499761   93.598619
...      ...         ...         ...
9995       0  168.078536   62.041159
9996       0  170.350573   77.504315
9997       0  162.224700   58.275377
9998       0  175.346978   74.322166
9999       0  157.338385   51.550324

[10000 rows x 3 columns]

## Training Model

In [24]:
X1 = df.drop(columns=['Weight'])
X2 = df['Weight']

In [25]:
lin_regr = LinearRegression()
X1_train, X1_test, X2_train, X2_test = train_test_split(X1, X2, test_size=0.2)

model = lin_regr.fit(X1_train, X2_train)

In [26]:
accuracy = model.score(X1_test, X2_test)

In [27]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.19177718217028%

## Menyimpan Model dan Scaler

In [28]:
joblib.dump((model), "weight-prediction-using-linear-regression.pkl")

['weight-prediction-using-linear-regression.pkl']